
@media all {
	body::before {
		font-weight: 900;
		display: block;
		text-align: center;
		position: absolute;
		padding: 1em;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
	}
}

/**
 * Dimensions to check for:
 *
 * 320 pixels      Smartphones: portrait and landscape mode
 * 480 pixels      Smartphones: landscape mode
 * 600 pixels      Tablets, e.g. Amazon Kindle (600×800), Barnes & Noble Nook (600×1024): portrait mode
 * 768 pixels      Tablets, e.g. iPad (768×1024): portrait mode
 * 1024 pixels     Tablets, e.g. iPad (1024×768): landscape mode,
 *                 small Laptops, Netbooks, etc.
 * 1200 pixels     Widescreen displays, portrait and landscape
 * 1800 pixels     Large screens
 * pixel-ratio     iPhone 4 and high pixel ratio devices
 * 
 * 
 * Portrait versus Landscape:
 * 
 * Portrait orientation allows more lines of engraving than landscape, 
 * but a smaller number of characters per line.  Landscape orientation 
 * offers fewer lines than portrait, but more characters per line.
 * ---    -------
 * | |    |     |
 * | |    -------
 * ---
 */

@media all and (-webkit-min-device-pixel-ratio : 1.5),
       all and (min-device-pixel-ratio : 1.5) { body::before { content: "iPhone 4 and high pixel ratio devices"; background: rgba(139, 69, 19, 0.8); } }

@media all and (min-width: 1800px) and (orientation: landscape) { body::before { content: "min-width: 1800px (landscape)"; background: rgba(165, 42, 42, 0.8); } }
@media all and (max-width: 1800px) and (orientation: landscape) { body::before { content: "max-width: 1800px (landscape)"; background: rgba(165, 42, 42, 0.8); } }

@media all and (max-width: 1200px) and (orientation: landscape) { body::before { content: "max-width: 1200px (landscape)"; background: rgba(255, 0, 0, 0.8); } }
@media all and (max-width: 1200px) and (orientation: portrait) { body::before { content: "max-width: 1200px (portrait)"; background: rgba(255, 0, 0, 0.8); } }

@media all and (max-width: 1024px) and (orientation: landscape) { body::before { content: "max-width: 1024px (landscape)"; background: rgba(0, 153, 153, 0.8); } }
@media all and (max-width: 1024px) and (orientation: portrait)  { body::before { content: "max-width: 1024px (portrait)";  background: rgba(0, 153, 153, 0.8); } }

@media all and (max-width: 768px) and (orientation: landscape)  { body::before { content: "max-width: 768px (landscape)";  background: rgba(159, 238, 0, 0.8); } }
@media all and (max-width: 768px) and (orientation: portrait)   { body::before { content: "max-width: 768px (portrait)";   background: rgba(159, 238, 0, 0.8); } }

@media all and (max-width: 600px) and (orientation: landscape)  { body::before { content: "max-width: 600px (landscape)";  background: rgba(0, 204, 0, 0.8); } }
@media all and (max-width: 600px) and (orientation: portrait)   { body::before { content: "max-width: 600px (portrait)";   background: rgba(0, 204, 0, 0.8); } }

@media all and (max-width: 480px) and (orientation: landscape)  { body::before { content: "max-width: 480px (landscape)";  background: rgba(255, 116, 0, 0.8); } }
@media all and (max-width: 480px) and (orientation: portrait)   { body::before { content: "max-width: 480px (portrait)";   background: rgba(255, 116, 0, 0.8); } }

@media all and (max-width: 320px) and (orientation: landscape)  { body::before { content: "max-width: 320px (landscape)";   background: rgba(205, 0, 116, 0.8); } }
@media all and (max-width: 320px) and (orientation: portrait)   { body::before { content: "max-width: 320px (portrait)";   background: rgba(205, 0, 116, 0.8); } }

/**
 * Github badge
 */
#github{
	left:-65px;
	height:30px;
	top:40px;
	position:absolute;
	text-decoration:none;
	width:250px;
	-moz-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg);
	z-index:999
}
#github span{
	color: #fff;
	background: #000;
	font-size: 14px;
	left: 0;
	padding: 5px 0;
	position: absolute;
	text-align: center;
	width: 250px;
	-moz-box-shadow: rgba(0,0,0,0.2) 1px 1px 10px;
	-webkit-box-shadow: rgba(0,0,0,0.2) 1px 1px 10px;
	-o-box-shadow: rgba(0,0,0,0.2) 1px 1px 10px;
	box-shadow: rgba(0,0,0,0.2) 1px 1px 10px;
	-moz-transition-property: opacity;
	-webkit-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
	-moz-transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s
}
	#github span:last-child{
background: #a30207;
opacity: 0
	}
#github:hover span:first-child{
	opacity: 0
}
#github:hover span:last-child{
	opacity: 1
}